streamlit>=1.24.0
# selenium is commented out as it's not needed for cloud deployment
# selenium>=4.0.0
beautifulsoup4>=4.9.0
pandas>=1.3.0
matplotlib>=3.5.0
requests>=2.25.0
# webdriver-manager is commented out as it's not needed for cloud deployment
# webdriver-manager>=3.5.0
